In [305]:
import pandas as pd
import numpy as np

df = pd.read_csv('../input/churn-modelling/Churn_Modelling.csv')

In [306]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [307]:
df['gender'] = df['Gender'].apply(lambda x:1  if x == 'Male' else 0)

In [308]:
df = df.drop(['Gender'],axis=1)

In [309]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,gender
0,1,15634602,Hargrave,619,France,42,2,0.00,1,1,1,101348.88,1,0
1,2,15647311,Hill,608,Spain,41,1,83807.86,1,0,1,112542.58,0,0
2,3,15619304,Onio,502,France,42,8,159660.80,3,1,0,113931.57,1,0
3,4,15701354,Boni,699,France,39,1,0.00,2,0,0,93826.63,0,0
4,5,15737888,Mitchell,850,Spain,43,2,125510.82,1,1,1,79084.10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,39,5,0.00,2,1,0,96270.64,0,1
9996,9997,15569892,Johnstone,516,France,35,10,57369.61,1,1,1,101699.77,0,1
9997,9998,15584532,Liu,709,France,36,7,0.00,1,0,1,42085.58,1,0
9998,9999,15682355,Sabbatini,772,Germany,42,3,75075.31,2,1,0,92888.52,1,1
9999,10000,15628319,Walker,792,France,28,4,130142.79,1,1,0,38190.78,0,0

In [310]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [311]:
dummies = pd.get_dummies(df['Geography'])

In [312]:
df = pd.concat([df, dummies],axis=1)

In [313]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,gender,France,Germany,Spain
0,1,15634602,Hargrave,619,France,42,2,0.00,1,1,1,101348.88,1,0,1,0,0
1,2,15647311,Hill,608,Spain,41,1,83807.86,1,0,1,112542.58,0,0,0,0,1
2,3,15619304,Onio,502,France,42,8,159660.80,3,1,0,113931.57,1,0,1,0,0
3,4,15701354,Boni,699,France,39,1,0.00,2,0,0,93826.63,0,0,1,0,0
4,5,15737888,Mitchell,850,Spain,43,2,125510.82,1,1,1,79084.10,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,39,5,0.00,2,1,0,96270.64,0,1,1,0,0
9996,9997,15569892,Johnstone,516,France,35,10,57369.61,1,1,1,101699.77,0,1,1,0,0
9997,9998,15584532,Liu,709,France,36,7,0.00,1,0,1,42085.58,1,0,1,0,0
9998,9999,15682355,Sabbatini,772,Germany,42,3,75075.31,2,1,0,92888.52,1,1,0,1,0
9999,10000,15628319,Walker,792,France,28,4,130142.79,1,1,0,38190.78,0,0,1,0,0

In [314]:
df.shape

(10000, 17)

In [315]:
df = df.drop(['Geography'],axis=1)

In [316]:
df

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,gender,France,Germany,Spain
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,0,1,0,0
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,0,0,0,1
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,0,1,0,0
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,0,1,0,0
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,39,5,0.00,2,1,0,96270.64,0,1,1,0,0
9996,9997,15569892,Johnstone,516,35,10,57369.61,1,1,1,101699.77,0,1,1,0,0
9997,9998,15584532,Liu,709,36,7,0.00,1,0,1,42085.58,1,0,1,0,0
9998,9999,15682355,Sabbatini,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1,0
9999,10000,15628319,Walker,792,28,4,130142.79,1,1,0,38190.78,0,0,1,0,0

In [317]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Exited', 'gender', 'France', 'Germany', 'Spain'],
      dtype='object')

In [318]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
gender               int64
France               uint8
Germany              uint8
Spain                uint8
dtype: object

In [319]:
df.isna().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
gender             False
France             False
Germany            False
Spain              False
dtype: bool

In [320]:
df = df.drop(['RowNumber','CustomerId','Surname','gender'],axis=1)

In [321]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0

In [322]:
X = df.drop(['Exited'],axis=1)
y= df['Exited']

In [323]:
from sklearn.model_selection import train_test_split

In [324]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)
print('X_train size: {}, X_test size: {}'.format(X_train.shape, X_test.shape))

X_train size: (8000, 11), X_test size: (2000, 11)

In [325]:
from sklearn.preprocessing import StandardScaler

In [326]:
ss = StandardScaler()

In [327]:
X_train = ss.fit_transform(x_train)
X_test = ss.fit_transform(x_test)

In [328]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [329]:
classifier = Sequential()

In [335]:
classifier.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu', input_dim=11))

In [336]:
classifier.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu'))

In [337]:
classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

In [338]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [339]:
model_history = classifier.fit(X_train, y_train, batch_size=10, validation_split=0.33, epochs=100)

Epoch 1/100
536/536 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7962 - val_loss: 0.5026 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4875 - accuracy: 0.7962 - val_loss: 0.4716 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4547 - accuracy: 0.7962 - val_loss: 0.4472 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4389 - accuracy: 0.8011 - val_loss: 0.4394 - val_accuracy: 0.8236
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4320 - accuracy: 0.8278 - val_loss: 0.4350 - val_accuracy: 0.8277
Epoch 6/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4267 - accuracy: 0.8324 - val_loss: 0.4347 - val_accuracy: 0.8273
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.8341 - val_loss: 0.4314 - val_accuracy: 0.8319
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.8347 - val_loss: 0.4311 - val_accuracy: 0.8285
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.8356 - val_loss: 0.4321 - val_accuracy: 0.8304
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4182 - accuracy: 0.8364 - val_loss: 0.4297 - val_accuracy: 0.8342
Epoch 11/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4171 - accuracy: 0.8375 - val_loss: 0.4277 - val_accuracy: 0.8353
Epoch 12/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4159 - accuracy: 0.8377 - val_loss: 0.4271 - val_accuracy: 0.8345
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4154 - accuracy: 0.8371 - val_loss: 0.4289 - val_accuracy: 0.8281
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4145 - accuracy: 0.8360 - val_loss: 0.4261 - val_accuracy: 0.8319
Epoch 15/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4143 - accuracy: 0.8393 - val_loss: 0.4269 - val_accuracy: 0.8349
Epoch 16/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4137 - accuracy: 0.8380 - val_loss: 0.4254 - val_accuracy: 0.8357
Epoch 17/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4133 - accuracy: 0.8365 - val_loss: 0.4274 - val_accuracy: 0.8311
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4129 - accuracy: 0.8373 - val_loss: 0.4254 - val_accuracy: 0.8345
Epoch 19/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4119 - accuracy: 0.8395 - val_loss: 0.4297 - val_accuracy: 0.8258
Epoch 20/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4127 - accuracy: 0.8378 - val_loss: 0.4255 - val_accuracy: 0.8349
Epoch 21/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4108 - accuracy: 0.8399 - val_loss: 0.4255 - val_accuracy: 0.8357
Epoch 22/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4116 - accuracy: 0.8378 - val_loss: 0.4263 - val_accuracy: 0.8364
Epoch 23/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4119 - accuracy: 0.8403 - val_loss: 0.4274 - val_accuracy: 0.8285
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8391 - val_loss: 0.4277 - val_accuracy: 0.8281
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8380 - val_loss: 0.4260 - val_accuracy: 0.8330
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8393 - val_loss: 0.4262 - val_accuracy: 0.8349
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8393 - val_loss: 0.4277 - val_accuracy: 0.8330
Epoch 28/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4102 - accuracy: 0.8414 - val_loss: 0.4259 - val_accuracy: 0.8330
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4095 - accuracy: 0.8380 - val_loss: 0.4236 - val_accuracy: 0.8353
Epoch 30/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4095 - accuracy: 0.8401 - val_loss: 0.4246 - val_accuracy: 0.8330
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8406 - val_loss: 0.4252 - val_accuracy: 0.8330
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4094 - accuracy: 0.8406 - val_loss: 0.4278 - val_accuracy: 0.8281
Epoch 33/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4092 - accuracy: 0.8403 - val_loss: 0.4254 - val_accuracy: 0.8330
Epoch 34/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4091 - accuracy: 0.8393 - val_loss: 0.4264 - val_accuracy: 0.8330
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4083 - accuracy: 0.8405 - val_loss: 0.4290 - val_accuracy: 0.8277
Epoch 36/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4087 - accuracy: 0.8393 - val_loss: 0.4297 - val_accuracy: 0.8243
Epoch 37/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4086 - accuracy: 0.8390 - val_loss: 0.4255 - val_accuracy: 0.8319
Epoch 38/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4084 - accuracy: 0.8395 - val_loss: 0.4246 - val_accuracy: 0.8338
Epoch 39/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4079 - accuracy: 0.8384 - val_loss: 0.4250 - val_accuracy: 0.8307
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4084 - accuracy: 0.8405 - val_loss: 0.4243 - val_accuracy: 0.8334
Epoch 41/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4084 - accuracy: 0.8416 - val_loss: 0.4248 - val_accuracy: 0.8330
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4081 - accuracy: 0.8405 - val_loss: 0.4234 - val_accuracy: 0.8342
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4083 - accuracy: 0.8412 - val_loss: 0.4242 - val_accuracy: 0.8334
Epoch 44/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4075 - accuracy: 0.8399 - val_loss: 0.4239 - val_accuracy: 0.8323
Epoch 45/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4081 - accuracy: 0.8399 - val_loss: 0.4231 - val_accuracy: 0.8345
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4074 - accuracy: 0.8405 - val_loss: 0.4234 - val_accuracy: 0.8338
Epoch 47/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4077 - accuracy: 0.8406 - val_loss: 0.4265 - val_accuracy: 0.8304
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4079 - accuracy: 0.8406 - val_loss: 0.4237 - val_accuracy: 0.8315
Epoch 49/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4075 - accuracy: 0.8408 - val_loss: 0.4231 - val_accuracy: 0.8360
Epoch 50/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4072 - accuracy: 0.8408 - val_loss: 0.4240 - val_accuracy: 0.8319
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4064 - accuracy: 0.8418 - val_loss: 0.4272 - val_accuracy: 0.8300
Epoch 52/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4069 - accuracy: 0.8395 - val_loss: 0.4229 - val_accuracy: 0.8338
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8405 - val_loss: 0.4234 - val_accuracy: 0.8330
Epoch 54/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4074 - accuracy: 0.8395 - val_loss: 0.4232 - val_accuracy: 0.8360
Epoch 55/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4066 - accuracy: 0.8401 - val_loss: 0.4239 - val_accuracy: 0.8334
Epoch 56/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4071 - accuracy: 0.8397 - val_loss: 0.4242 - val_accuracy: 0.8330
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4069 - accuracy: 0.8405 - val_loss: 0.4257 - val_accuracy: 0.8300
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8405 - val_loss: 0.4237 - val_accuracy: 0.8315
Epoch 59/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4065 - accuracy: 0.8395 - val_loss: 0.4250 - val_accuracy: 0.8319
Epoch 60/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4062 - accuracy: 0.8425 - val_loss: 0.4216 - val_accuracy: 0.8334
Epoch 61/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4065 - accuracy: 0.8393 - val_loss: 0.4220 - val_accuracy: 0.8330
Epoch 62/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4063 - accuracy: 0.8401 - val_loss: 0.4220 - val_accuracy: 0.8330
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4061 - accuracy: 0.8403 - val_loss: 0.4234 - val_accuracy: 0.8292
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4061 - accuracy: 0.8395 - val_loss: 0.4234 - val_accuracy: 0.8342
Epoch 65/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4068 - accuracy: 0.8397 - val_loss: 0.4232 - val_accuracy: 0.8323
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8403 - val_loss: 0.4219 - val_accuracy: 0.8338
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4061 - accuracy: 0.8410 - val_loss: 0.4216 - val_accuracy: 0.8338
Epoch 68/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4065 - accuracy: 0.8425 - val_loss: 0.4232 - val_accuracy: 0.8353
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8386 - val_loss: 0.4233 - val_accuracy: 0.8338
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8419 - val_loss: 0.4243 - val_accuracy: 0.8307
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8386 - val_loss: 0.4228 - val_accuracy: 0.8342
Epoch 72/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4055 - accuracy: 0.8388 - val_loss: 0.4239 - val_accuracy: 0.8349
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4055 - accuracy: 0.8399 - val_loss: 0.4218 - val_accuracy: 0.8326
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8408 - val_loss: 0.4237 - val_accuracy: 0.8349
Epoch 75/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4059 - accuracy: 0.8419 - val_loss: 0.4249 - val_accuracy: 0.8338
Epoch 76/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4061 - accuracy: 0.8423 - val_loss: 0.4229 - val_accuracy: 0.8349
Epoch 77/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4058 - accuracy: 0.8418 - val_loss: 0.4229 - val_accuracy: 0.8353
Epoch 78/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4061 - accuracy: 0.8421 - val_loss: 0.4234 - val_accuracy: 0.8342
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4057 - accuracy: 0.8405 - val_loss: 0.4236 - val_accuracy: 0.8345
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8395 - val_loss: 0.4226 - val_accuracy: 0.8330
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4055 - accuracy: 0.8401 - val_loss: 0.4228 - val_accuracy: 0.8342
Epoch 82/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4064 - accuracy: 0.8406 - val_loss: 0.4228 - val_accuracy: 0.8338
Epoch 83/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4054 - accuracy: 0.8427 - val_loss: 0.4243 - val_accuracy: 0.8342
Epoch 84/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4054 - accuracy: 0.8429 - val_loss: 0.4314 - val_accuracy: 0.8239
Epoch 85/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4054 - accuracy: 0.8403 - val_loss: 0.4226 - val_accuracy: 0.8326
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4062 - accuracy: 0.8421 - val_loss: 0.4240 - val_accuracy: 0.8334
Epoch 87/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4059 - accuracy: 0.8421 - val_loss: 0.4235 - val_accuracy: 0.8326
Epoch 88/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4051 - accuracy: 0.8408 - val_loss: 0.4240 - val_accuracy: 0.8319
Epoch 89/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8406 - val_loss: 0.4220 - val_accuracy: 0.8345
Epoch 90/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4046 - accuracy: 0.8421 - val_loss: 0.4247 - val_accuracy: 0.8326
Epoch 91/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4057 - accuracy: 0.8401 - val_loss: 0.4227 - val_accuracy: 0.8357
Epoch 92/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4052 - accuracy: 0.8444 - val_loss: 0.4228 - val_accuracy: 0.8349
Epoch 93/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4047 - accuracy: 0.8410 - val_loss: 0.4277 - val_accuracy: 0.8266
Epoch 94/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4057 - accuracy: 0.8391 - val_loss: 0.4229 - val_accuracy: 0.8342
Epoch 95/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8440 - val_loss: 0.4226 - val_accuracy: 0.8338
Epoch 96/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4052 - accuracy: 0.8429 - val_loss: 0.4252 - val_accuracy: 0.8319
Epoch 97/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4044 - accuracy: 0.8418 - val_loss: 0.4256 - val_accuracy: 0.8326
Epoch 98/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4050 - accuracy: 0.8427 - val_loss: 0.4236 - val_accuracy: 0.8345
Epoch 99/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8425 - val_loss: 0.4260 - val_accuracy: 0.8330
Epoch 100/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4055 - accuracy: 0.8403 - val_loss: 0.4219 - val_accuracy: 0.8345

In [373]:
y_pred = classifier.predict(X_test)

In [342]:
y_pred

array([[0.19906801],
       [0.3555498 ],
       [0.12054607],
       ...,
       [0.19384855],
       [0.1452426 ],
       [0.17146343]], dtype=float32)

In [343]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [344]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred,y_test)
print('The accuracy for ANN model is: {}%'.format(score*100))

The accuracy for ANN model is: 83.7%

In [359]:
import pickle

In [363]:
filename = 'ANN.pkl'

In [374]:
pickle.dump(y_pred, open(filename, 'wb'))